@{
    ViewBag.Title = "About";
}


<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>INSTYLR | Fashion HTML Template</title>
    <meta charset="UTF-8">
    <meta name="description" content="Instyle Fashion HTML Template">
    <meta name="keywords" content="instyle, fashion, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="~/img/favicon.ico" rel="shortcut icon" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" />

    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="~/css/style.css" />


    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header section -->
    
    <!-- Header section end-->
    <!-- Page top section -->
    <section class="page-top-section set-bg" data-setbg="/img/header-bg/1.jpg" >
        <h2>The Brand</h2>
        <div class="hero-social-warp">
            <p>Follow us on Social MEdia</p>
            <div class="hero-social-links">
                <a href="#"><i class="fa fa-behance"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
            </div>
        </div>
    </section>
    <!-- Page top section end-->
    <!-- Intro section -->
    <section class="intro-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 order-2 order-lg-1 intro-text">
                    @*<span>Aenean quis velit pulvinar,</span>*@
                    <h2>"I firmly believe that with the right wear one can rule the world."</h2>
                    <p>
                        In 1996, our CEO and visionary, a DIY dressmaker-designer, Yuliya Raquel, dreamed of becoming a professional fashion designer. She established a one-of- a-kind design studio in her bedroom, from which she created couture evening and wedding gowns for private clients. One day, however, when shopping with her full-figured mother for clothing for curvy women and finding no high-end designer fashion-forward clothes for her or any women in such size runs, Yuliya realized a need existed, and thus, in February 2000, IGIGI by Yuliya Raquel was born – a collection of fashion- forward high-end clothes for women sized 12-32. She put her designs on the web and curvy women everywhere clamored for them. Fourteen years later, Raquel has become a 4-time award-winning, world-renowned celebrity fashion designer who grew IGIGI into a designer label known around the globe. She had left the company in 2014 to start Mylinego, Inc. IGIGI brand has been acquired in 2015.

                        Running her brand had taught Raquel a lot about fashion: few resources existed to help her run her business, often leaving Raquel and her sister Alla working from 7 am to 3 am daily. They lacked the affordable, easy-to- master tools you’ll now find at Tailornova: concept design to fabric selection to pattern making and more. Of course, other aspects of apparel manufacturing were difficult and expensive for them as well; however, in creating Tailornova, she took what she could to level the playing field to empower all fashion creators, be they simply hobbyist sewers who want to design dresses for themselves or professional designers who desire a masterful collection of unique pieces they can stylize and call their own.

                        Partnering with co-founder Don Straub, they launched BootstrapFashion.com in 2014, an online pattern customization platform that made it easy for dressmakers and designers to customize fit of the sewing patterns.

                        After serving over 18K customers and selling tens of thousands of custom-fit patterns, they soon realized that their pattern customization service could be developed much further to truly deliver a game-changing fashion technology to all who want to create fashion. After searching far and wide, they launched Tailornova with CAD tech co-founding team from Bulgaria, Fractail.

                        Today, Tailornova has been self-funded by the co-founders and no outside funding has been used in creation of the platform.
                    </p>
                    <a href="#" class="site-btn sb-dark">Read More <i class="fa fa-angle-double-right"></i></a>
                </div>
                <div class="col-lg-5 order-1 order-lg-2">
                    <img src="~/img/12.PNG" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Intro section end-->
    <!-- Award section -->
    
    <!-- Award section end-->
    <!-- Milestones section -->
    <section class="milestones-section set-bg" data-setbg="img/milestones-bg.jpg" >
        <div class="container">
            <div class="row text-white">
                <div class="col-lg-3 col-sm-6">
                    <div class="milestone-item">
                        <h2>14</h2>
                        <p>Fashion Awards</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="milestone-item">
                        <h2>25K</h2>
                        <p>IG Followers</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="milestone-item">
                        <h2>5</h2>
                        <p>Great Designers</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="milestone-item">
                        <h2>56</h2>
                        <p>Award Nomenees</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Milestones section end-->
    <!-- Brand History section -->
    
    <!-- Brand History section end-->
    <!-- Back to top -->
    <div class="container">
        <div class="backtotop">
            <div class="up-btn" id="backTotop">UP</div>
        </div>
    </div>

    <!-- Footer section -->
    
    <!-- Footer section end -->
    <!--====== Javascripts & Jquery ======-->
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>